.footer {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .containerFooter {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .rowFooter {
    display: flex;
    justify-content: center;
  }
  
  .col-md-12 {
    text-align: center;
  }
  
  .footer-text {
    color: white;
  }
  